:root {
  // Font
  --fontDeafult: "Josefin Sans", sans-serif;
}

$theme: (
  colorOrange: #e04d01,
  colorDarkBlue: #2a2550,
  colorLightOrange: #ff7700,
  colorYellow: #fac213,
  colorDarkestBlue: #251d3a,
  colorWhite: #f1eee9,
);

@mixin dark-theme($dark-theme) {
  @if $dark-theme == true {
    --colorPrimary: #e04d01;
    --colorSecondary: #2a2550;
    --colorThird: #ff7700;
    --colorFourth: #fac213;
    --colorBg: #251d3a;
    --colorFont: #f1eee9;
  } @else {
    --colorPrimary: #e04d01;
    --colorSecondary: #2a2550;
    --colorThird: #fac213;
    --colorFourth: #ff7700;
    --colorBg: #f1eee9;
    --colorFont: #251d3a;
  }
}

.theme {
  @include dark-theme(false);
  &.dark {
    @include dark-theme(true);
  }
}
